body{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    background-color:#2F4F4F;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100vh;
}

.boton{
        background-color: #A9A9A9; 
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.5s ease;
}

.boton:hover{
    background-color: #8B0000;
}